
.form-container {
  max-width: 500px;
  margin: auto;
}

.text-center {
  position: relative;
}

.border {
  border: 3px solid rgb(45, 67, 229) !important;
  position: absolute;
  top: 28px;
  right: 47%;
  width: 77px;
  border-radius: 10px;
}

[nz-form] {
  max-width: 600px;
}

.ant-select.ant-select-in-form-item.phone-select {
  width: 70px;
}

.register-area {
  margin-bottom: 8px;
}
p{
  color: red;
}
/* .red{
  color: red;
} */
 .green{
  color: green;
 }
